body {
    color:crimson;
    font-family: 'Kiwi Maru', serif;
    font-family: 'Lexend', sans-serif;
    font-family: 'Roboto', sans-serif;
}
h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    blah
}